* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 1.2%;
}

.img-logo {
    max-width: 220px;
    max-height: 100px;
}

.img-box {
    max-height: 300px;
}

.carousel {
    margin-top: 1%;
    max-height:30px;
}

.col-md-2 {
    padding: 0.5%;
}

.cabecera {
    max-height: 300px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

.carousel-item {
    top: -80px;
    min-height: 400px;
    max-height: 400px;
}

.carousel-lightbox {
    top: 0;
}

.carousel-caption {
    background-color: rgba(18, 18, 18, 0.55);
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;

}

.box{
    background-color: rgba(18, 18, 18, 0.55);
    width: 95%;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 2.1%;

}

.carousel-control {
    padding-top:10%;
    width:5%;
}

#myCarousel {
    width: 100%;
    max-height: 350px;
    padding-left: 1%;
}


.lightbox {
    width: 100%;
    height: auto;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
}

.lightbox img{
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 270px;
    box-shadow: 2px 2px 2px #616161;
}

#main_footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
