* {
    margin: 0;
    padding: 0;
}

h1 {
    font: bold 20px Arial, sans-serif;
}

h2 {
    font: bold 14px verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
    padding-top: 120px;
}

div {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffffff;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin: 10px auto;
    text-align: left;
}

#main_header {
    background: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    clear: both;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 125px;
}

#main_header img {
    float: left;
    width: 360px;
    height: 100px;

}

#main_menu {
    display: block;
    clear: both;
    background: #34495E;
    padding: 5px 10px;
}

#main_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    color: #1ABC9C;
}

#main_section {
    float: left;
    display: block;
    width: 70%;
    margin: 20px;
}

#main_section h3 {
    font: bold 20px Arial, sans-serif;
    color: #fff;
    background: #34495E;
    width: 100%;
    height: 20px;
    padding: 10px;

}

#main_section article {
    float: left;
    display: block;
    width: 70%;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    text-align: left;
    border: solid #34495E;

}

#main_section article img {
    float: left;
    width: 140px;
    height: auto;
    max-height: 220px;
    box-shadow: 2px 2px 5px #999;
    margin: 10px;
    margin-right: 20px;
}

#main_aside {
    float: right;
    display: block;
    width: 20%;
    margin: 10px 0;
    padding: 20px;
    background: #e5e5e5;
}

#main_footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}


h4{
    color:#1ABC9C;
    font: bold 40px Arial, sans-serif;
    background: #34495E;
    width: 10%;
    height: 10%;
    margin: 10px 70%;
    border: solid #1ABC9C;

}

.boton_1{
    text-decoration: none;
    padding: 5px;
    font: 20px Arial, sans-serif;
    height: 5%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 800;
    font-size: 15px;
    color: #1ABC9C;
    background-color: #34495E;
    border:green;
}
.boton_1:hover{
    color: #34495E;
    background-color: #1ABC9C;;
    text-decoration: none;
}

Comments{
    border: thin black;
}