.content_register {

    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(224,224,224,1)), color-stop(71%, rgba(235,235,235,1)), color-stop(100%, rgba(242,242,242,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );

    float: left;
    width: 100%;
    height: auto;
}


.content_register form {
    width: 50%;
    margin: auto;
    padding: 10px 10px 10px 10px ;
    border: 1px lavender solid;
    background: white;


}

.data_user_register, .btn_register, .title_register {
    width: auto;
    height: auto;
    margin: auto;
    overflow: auto;
}

.content_register h1 {
    float: right;
    background: white;
    color:#34495E;

}

.input_data {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_data:focus{
    border: 1px solid #3B5998;
}

.btn {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.80;
}

.btn:hover {
    opacity: 1;
}

.confirm {
    background: #34495E;
    color: white;
}
.clear {
    background-color: #e7e7e7;
    color: black;
}



@media only screen and (max-width: 600px) {

    .content_register {

        background: rgba(255,255,255,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(224,224,224,1)), color-stop(71%, rgba(235,235,235,1)), color-stop(100%, rgba(242,242,242,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 44%, rgba(235,235,235,1) 71%, rgba(242,242,242,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );

        float: left;
        width: 100%;
        height: auto;
    }


    .content_register form {
        float:right;
        width: 100%;
        margin: auto;
        padding: auto ;
        border: 1px lavender solid;
        background: white;


    }

    .data_user_register, .btn_register, .title_register {
        width: auto;
        height: auto;
        margin: auto;
        overflow: auto;
    }

    .content_register h1 {
        float: right;
        background: white;
        color:#34495E;

    }

    .input_data {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .input_data:focus{
        border: 1px solid #3B5998;
    }

    .btn {
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        opacity: 0.80;
    }

    .btn:hover {
        opacity: 1;
    }

    .confirm {
        background: #34495E;
        color: white;
    }
    .clear {
        background-color: #e7e7e7;
        color: black;
    }





}